# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Migrations (İSTEĞE BAĞLI)
# api/migrations/
# !api/migrations/__init__.py
api_data.json